.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.category {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.category__title {
  font-size: 200%;
  font-style: oblique 6deg;
  font-weight: 400;
}

.projects {
  list-style: none;
  text-align: left;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  padding: 0;
}

.project__name::before {
  content: ' ';
}

.project__goodSince {
  color: var(--ifm-color-emphasis-500);
}
