/* swizzle modification: make it look much like a toggle button */
.iconLanguage {
  width: 24px;
  height: 24px;
}

/* swizzle modification: no dropdown arrow for less horizontal space */
.awlyLocaleDropdown::after {
  display: none !important;
}
