.decodeTreeView {
  border: 1px solid var(--ifm-color-secondary-contrast-background);
}

.attrib::before,
.contentAttrib::before {
  content: ' ';
}

.attrib {
  color: var(--ifm-color-gray-700);
}

.insnFmtTag {
  font-family: var(--ifm-font-family-monospace);
}

.statsVal {
  font-size: 18px;
}
