.decodeTreeView {
  border: 1px solid var(--ifm-color-secondary-contrast-background);
}

.attrib::before,
.contentAttrib::before {
  content: ' ';
}

.attrib,
.insnFmtTagAttrib {
  color: var(--ifm-color-gray-700);
}

.aliasTagAttrib {
  color: var(--ifm-color-info);
  background-color: var(--ifm-color-info-contrast-background);
}

.insnFmtTag,
.insnFmtTagAttrib {
  font-family: var(--ifm-font-family-monospace);
}

.aliasTagAttrib,
.insnFmtTagAttrib {
  font-size: 14px;  /* should follow default style of tree node titles */
  line-height: 20px;
}

.insnFmtTagAttrib {
  margin-left: 0.5em;
}

.statsVal {
  font-size: 18px;
}
